<div class="card mt-4">
  <div class="card-header">
    <h1>New wallet</h1>
  </div>
  <div class="card-body">
    <%= render "form", wallet: @wallet %>

  </div>
  <div class="card-footer">
    <%= link_to "Back to wallets", wallets_path %>

  </div>
</div>

